registry=https://pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-mobile/npm/registry/ 
always-auth=true
; begin auth token
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-mobile/npm/registry/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-mobile/npm/registry/:_password=NmE2cXVza3p6dmozNWtmdXRldW9pNGs2dW1yemZxYzdqZng3eHgyY2dxd2V6YzZjNGJtYQ
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-mobile/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-mobile/npm/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-mobile/npm/:_password=NmE2cXVza3p6dmozNWtmdXRldW9pNGs2dW1yemZxYzdqZng3eHgyY2dxd2V6YzZjNGJtYQ
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/siigo-mobile/npm/:email=npm requires email to be set but doesn't use the value
; end auth token